/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}




@font-face {
    font-family: 'cylburn_regularregular';
    src: url('../fonts/cylburn/cylburn-webfont.eot');
    src: url('../fonts/cylburn/cylburn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cylburn/cylburn-webfont.woff') format('woff'),
         url('../fonts/cylburn/cylburn-webfont.ttf') format('truetype'),
         url('../fonts/cylburn/cylburn-webfont.svg#cylburn_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.ui-body-c {
	background: #f9f9f9;
}

.ui-mobile, .ui-mobile body {
	height: 100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-family: 'Nixie One', cursive;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    color: #000000;
    letter-spacing: 2px;
    margin: 0px;
    padding-top: 18px;
    overflow: visible;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
    overflow: visible;
    padding-top: 12px;
    text-align: center;
    color: #000000;
    text-transform: lowercase;
}

.dotDivider {
	padding-left: 20px;
	padding-right: 20px;
}

.recipeGrid {
	padding-top: 26px;
}

.recipeGrid li {
	width: 160px;
	height: 160px;
	float: left;
	margin: 0 16px 16px 0;
	list-style-type: none;
}

.recipeGrid li a {
	background-image: url("../img/cover_photos/arugula.png");
	width: 160px;
	height: 160px;
	float: left;
	margin: 0 16px 16px 0;
	background-size: cover;
	color: rgba(0,0,0,0);
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}








#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	height: 748px;
	z-index: 10;
}

.navigationLinksBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	z-index: -10;
	-moz-transition: margin 0.5s, opacity 0.5s;
    -webkit-transition: margin 0.5s, opacity 0.5s;
    -o-transition: margin 0.5s, opacity 0.5s;
    transition: margin 0.5s, opacity 0.5s;
    opacity: 1;
}

.navigationLinks {
	-moz-transition: margin 0.5s, opacity 0.5s;
    -webkit-transition: margin 0.5s, opacity 0.5s;
    -o-transition: margin 0.5s, opacity 0.5s;
    transition: margin 0.5s, opacity 0.5s;
    opacity: 1;
}

.iconNavWrapper {
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.iconNav {
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    width: 160px;
    height: 160px;
    margin: -40px 0px 0px -40px;
}

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
  background-color: rgba(0,0,0,0.1);
}

.navigationLinksCollapsed {
	margin-top: -320px;
	opacity: 0;
}

.navigationLinksBackgroundCollapsed {
	margin-top: -748px;
	opacity: 0;
}

#container {
	position: relative;
	top: 0px;
	left: 80px;
	width: 944px;
	height: 100%;
	overflow: visible;
}




/* CREATE / EDIT RECIPE */

.createRecipeArea {
	position: absolute;
	top: 112px;
	width: 864px;
	overflow: visible;
	margin-left: 40px;
}

.zerozero {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
	background-color: #f0f;
}

.addCoverPhoto {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.1);
	width: 160px;
	height: 160px;
	line-height: 160px;
	vertical-align: center;
	text-align: center;
	background-size: cover;
}

.addPhotoText {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}

.addPhotos {
	position: absolute;
	top: 0px;
	left: 528px;
	background-color: rgba(0,0,0,0.1);
	width: 336px;
	height: 160px;
	line-height: 160px;
	vertical-align: center;
	text-align: center;
}

.addPhotosHolder {
	position: absolute;
	left: 0;
	top: 0;
	width: 343px; /* 336px + 7px padding */
	height: 165px; /* 160 + 5px padding */
	overflow: hidden;
}

.linkedPhotoThumb {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 7px;
	margin-bottom: 5px;
	background-size: cover;
}

textarea {
  resize: none;
  float: left;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

textarea.newName, textarea.newYield, textarea.newActiveTime, textarea.newTotalTime {
	position: absolute;
	width: 224px;		/* 230 - 224 = 6 */ /* +2 */
	height: 28px;		/* 34 - 28 = 6 */ /* +2 */
	border: 0;
	background-color: rgba(0,0,0,0.1);
}

textarea.newName {
	top: 0px;		/* 0 + 48 = 48 */
	left: 288px;	/* 288 + 40 = 328 */
}

textarea.newYield {
	top: 44px;		/* 44 + 48 = 92 */
	left: 288px;	/* 288 + 40 = 328 */
}

textarea.newActiveTime {
	top: 88px;		/* 88 + 48 = 136 */
	left: 288px;	/* 288 + 40 = 328 */
}

textarea.newTotalTime {
	top: 132px;		/* 132 + 48 = 180 */
	left: 288px;	/* 288 + 40 = 328 */
}

textarea.placeholder {
	line-height: 24px;
	color: #000;
}

select.newCategory {
	position: absolute;
	top: 196px;
	left: 0px;
	width: 160px;
	height: 28px;
	background-color: rgba(0,0,0,0.1);
}

.createRecipeArea h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0 0 22px 0;
	height: 22px;
}

.textAreaTextContainer {
	position: absolute;
	top: 2px;
	left: 185px;
	text-align: right;
}

textarea.newIngredients, textarea.newInstructions {
	position: absolute;
	top: 196px;		/* 196 + 48 = 244 */
	width: 336px;		
	height: 420px;		
	border: 0;
	background-color: rgba(0,0,0,0.1);
}

textarea.newNotes, textarea.newTags {
	position: absolute;
	left: 0px; 		/* 0 + 40 */
	width: 160px;		
	height: 160px;		
	border: 0;
	background-color: rgba(0,0,0,0.1);
}

textarea.newIngredients {
	left: 176px; 	/* 176 + 24 + 16 = 216 */
}

textarea.newInstructions {
	left: 528px; 	/* 528 + 24 + 16 = 568 */
}

.textAreaTextCategory {
	position: absolute;
	left: 0px;
	top: 172px;
}

.textAreaTextIngredients {
	position: absolute;
	left: 176px;
	top: 172px;
}

.textAreaTextInstructions {
	position: absolute;
	left: 528px;
	top: 172px;
}

.textAreaTextTags {
	position: absolute;
	left: 0px;
	top: 236px;
}

.textAreaTextNotes {
	position: absolute;
	left: 0px;
	top: 432px;
}

textarea.newTags {
	top: 260px;		
}

textarea.newNotes {
	top: 456px; 
}

.saveHoverButton {
	position: fixed;
	bottom: 0px;
	left: 50%;
	width: 80px;
	height: 20px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background-color: #f00;
	text-align: center;
	padding-top: 20px; 
}

.bigPopupBackground, .photoLinkPopupBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

.bigPopup, .photoLinkPopup {
	position: absolute;
	top: 160px;
	left: 160px;
	width: 624px;
	height: 428px;
	background-color: #f9f9f9;
}

.bigPopup .optionOne, .bigPopup .optionTwo {
	position: absolute;
	top: 80px;
	left: 0;
	width: 312px;
	height: 268px;
	line-height: 268px;
	text-align: center;
}
.bigPopup .optionTwo {
	right: 0px;
	left: auto;
	border-left: 1px dotted #ddd; 
}







/* COOKBOOK PAGE */

.recipeCover {
	position: relative;
	left: -80px;
	height: 688px;
	width: 1024px;
	display: table;
	background-color: #FFCF0D;
	background-image: url('/var/mobile/Applications/6F4DBE8A-F6E0-4CF5-B6AB-4CAEC52A6BBB/Documents/photos/undefinedHIib6f2fVlO4G0b5yc7t.jpg');
	background-size: cover;
}

.displayName {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'cylburn_regularregular';
	font-weight: 400;
	font-size: 120px;
	line-height: 130px;
	color: #ffffff;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	opacity: 0.9;
	text-transform: capitalize;
}

.metadata {
	min-height: 60px;
	margin-top: 20px;
}

.metadata span {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #D45846;
	padding-right: 16px;
}

.metadata .innerText {
	color: #000000;
}

.editButton {
	float: right;
}

.recipeContent {
	margin: 0 auto;
	width: 688px;
	margin-bottom: 40px;
}

.twocols {
	margin-top: -38px; /* no idea why there's extra space here */
}

.col1, .col2 {
	float: left;
	width: 336px;
	/* background-color: #FF00DD; */
}

.col2 {
	margin-left: 16px;
	/* background-color: #AA00FF; */
}

.twocols:after {
	content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.twocols h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #D45846;
	margin-bottom: -12px; /* no idea why there's so much extra space */
}

.twocols p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}

.twocols listIngredients, .twocols listInstructions {
	margin-left: -12px;
}

.twocols li {
	padding-bottom: 5px;
}

.twocols a {
	color: #888888;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted #888888;
}

.twocols .listTags ul {
	margin-left: -38px; /* to compensate for the lack of a bullet */
}

.twocols .listTags li {
	display: inline;
	margin: 0;
 	padding: 0;
 	padding-right: 16px;
}

.photoGallery {
	padding-top: 20px;
	padding-bottom: 40px;
	width: 100%;
	height: 80px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.photoGalleryInner {
	max-width: 10000px;
	width: 10000px;
}

.photoGalleryItem {
	display: block;
	width: 80px;
	height: 80px;
	margin-right: 8px;
	float: left;
	background-size: cover;
}






/** COOKBOOK GALLERY **/

.cookbookGallery {
	position: relative;
	left: -80px;
	width: 1024px;
	height: 748px;
	overflow-y: scroll !important;
}

.viewRecipeInitial {
	display: none;
}

.viewRecipe {
	width: 944px;
	margin-left: 80px;
	height: 100%;
}
